# Task 2

In [237]:
import pandas as pd

In [238]:
df=pd.read_csv("ipldata\matches.csv")

## Which team has won/lost maximum number of matches while chasing?

## WON

In [243]:
chasers = df.loc[df['team2'] == df['winner']]
chasers['winner'].value_counts()[:1].idxmax(),chasers['winner'].value_counts()[:1][0]

('Kolkata Knight Riders', 58)

## LOST

In [245]:
chaselost = df.loc[df['team2'] != df['winner']]
chaselost['winner'].value_counts()[:1].idxmax(),chaselost['winner'].value_counts()[:1][0]

('Mumbai Indians', 58)

## Which toss decision is best for each ground?

In [251]:
team2wins = chasers.groupby("venue")["winner"].count().to_frame()
battingfirst = df.loc[df['team1'] == df['winner']]
team1wins = battingfirst.groupby("venue")['winner'].count().to_frame()
ans = team1wins['winner'] - team2wins['winner']
ans.fillna("Chase First")
descision= ans.apply(lambda i:('Bat First' if i > 0 else 'Bowl First'))
print(descision)

venue
ACA-VDCA Stadium                                        Bowl First
Barabati Stadium                                         Bat First
Brabourne Stadium                                        Bat First
Buffalo Park                                             Bat First
De Beers Diamond Oval                                   Bowl First
Dr DY Patil Sports Academy                              Bowl First
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      Bat First
Dubai International Cricket Stadium                     Bowl First
Eden Gardens                                            Bowl First
Feroz Shah Kotla                                        Bowl First
Feroz Shah Kotla Ground                                 Bowl First
Green Park                                              Bowl First
Himachal Pradesh Cricket Association Stadium             Bat First
Holkar Cricket Stadium                                  Bowl First
IS Bindra Stadium                                       Bowl First
JSCA International Stadium Complex                      Bowl First
Kingsmead                                                Bat First
M Chinnaswamy Stadium                                   Bowl First
M. A. Chidambaram Stadium                               Bowl First
M. Chinnaswamy Stadium                                  Bowl First
MA Chidambaram Stadium, Chepauk                          Bat First
Maharashtra Cricket Association Stadium                 Bowl First
Nehru Stadium                                            Bat First
New Wanderers Stadium                                   Bowl First
Newlands                                                 Bat First
OUTsurance Oval                                         Bowl First
Punjab Cricket Association IS Bindra Stadium, Mohali    Bowl First
Punjab Cricket Association Stadium, Mohali              Bowl First
Rajiv Gandhi International Stadium, Uppal               Bowl First
Rajiv Gandhi Intl. Cricket Stadium                       Bat First
Sardar Patel Stadium, Motera                            Bowl First
Saurashtra Cricket Association Stadium                  Bowl First
Sawai Mansingh Stadium                                  Bowl First
Shaheed Veer Narayan Singh International Stadium        Bowl First
Sharjah Cricket Stadium                                 Bowl First
Sheikh Zayed Stadium                                     Bat First
St George's Park                                        Bowl First
Subrata Roy Sahara Stadium                               Bat First
SuperSport Park                                         Bowl First
Vidarbha Cricket Association Stadium, Jamtha             Bat First
Wankhede Stadium                                        Bowl First
Name: winner, dtype: object

## Which player has won maximum number of MoM awards while chasing?

In [253]:
mom = df.query('team2 == winner')

In [254]:
f = mom.groupby('player_of_match')['player_of_match'].count()
f.sort_values(ascending = False)[:3]

player_of_match
YK Pathan    11
CH Gayle     10
G Gambhir    10
Name: player_of_match, dtype: int64

## Which batsman has played maximum number of dot balls?

In [255]:
cf =pd.read_csv("ipldata\deliveries.csv")

In [256]:
dotballs = cf.query('batsman_runs == 0')

In [257]:
dotballs.groupby('batsman')['batsman_runs'].count().sort_values(ascending = False)[:1]

batsman
V Kohli    1493
Name: batsman_runs, dtype: int64

## Which batsmen came to crease but never got a chance to face a ball?

In [259]:
ws = cf[['match_id','batsman','non_striker']]
for id ,group in ws.groupby('match_id'):
    str1=set(group['non_striker'])
    str2=set(group['batsman'])
    st=str1-str2
    if len(st):
        print(list(str1-str2))

['MJ McClenaghan']
['DR Smith']
['R Bhatia']
['A Nehra']
['Sandeep Sharma']
['CH Morris']
['MJ McClenaghan', 'MG Johnson']
['MK Pandey']
['PJ Cummins']
['S Aravind']
['JD Unadkat', 'A Nehra']
['S Aravind']
['S Nadeem']
['Sandeep Sharma']
['PP Ojha']
['AB Dinda']
['JDP Oram']
['I Sharma']
['Joginder Sharma']
['SB Bangar', 'DP Vijaykumar']
['A Nehra']
['A Kumble']
['S Sreesanth']
['GD McGrath']
['A Nel']
['Z Khan']
['MM Patel']
['PR Shah']
['DW Steyn']
['T Kohli', 'PP Chawla']
['L Balaji', 'DL Vettori']
['R Vinay Kumar']
['K Goel']
['MS Gony']
['Z Khan']
['AB Agarkar']
['RR Powar']
['Y Venugopal Rao']
['A Nehra', 'S Tyagi']
['A Kumble']
['SL Malinga']
['RP Singh']
['PP Chawla']
['PJ Sangwan']
['S Tyagi']
['SK Warne']
['AB Agarkar']
['Jaskaran Singh']
['SL Malinga', 'DS Kulkarni']
['SA Asnodkar', 'Z Khan']
['R Sathish']
['AD Mathews']
['SL Malinga']
['AA Jhunjhunwala']
['PP Ojha']
['WP Saha']
['SK Warne']
['PP Ojha']
['C Ganapathy']
['Y Venugopal Rao']
['S Anirudha']
['Harmeet Singh', 'PP Ojha']
['P Kumar']
['SB Jakati']
['Kamran Khan']
['SB Jakati']
['Harmeet Singh']
['KA Pollard']
['S Nadeem']
['MK Tiwary']
['AB Agarkar']
['A Mithun']
['M Kartik']
['TL Suman']
['MV Boucher']
['JA Morkel']
['RP Singh']
['SK Trivedi']
['I Sharma']
['SL Malinga']
['WP Saha']
['A Mithun']
['SL Malinga', 'DS Kulkarni']
['SB Jakati']
['RG Sharma']
['S Badrinath']
['R Sharma']
['TP Sudhindra']
['M Vijay']
['Z Khan']
['B Kumar']
['PA Patel']
['P Awana']
['AB Agarkar']
['LR Shukla']
['M Kartik']
['M Morkel']
['PA Reddy']
['MM Patel']
['DW Steyn']
['GB Hogg']
['UT Yadav']
['S Sreesanth']
['DP Nannes']
['A Mishra']
['L Balaji', 'P Awana']
['MS Gony']
['JH Kallis']
['PP Chawla']
['I Sharma']
['AT Rayudu']
['G Gambhir']
['M Rawat']
['Harbhajan Singh', 'AT Rayudu']
['I Sharma']
['LJ Wright']
['A Mishra']
['S Kaul']
['S Badrinath']
['MM Patel']
['DW Steyn']
['NM Coulter-Nile']
['BW Hilfenhaus']
['AR Patel']
['MA Starc']
['STR Binny', 'YS Chahal']
['Z Khan']
['R Vinay Kumar']
['WD Parnell']
['AP Tare']
['R Ashwin']
['KK Cooper']
['RN ten Doeschate']
['R Vinay Kumar', 'Parvez Rasool']
['KK Cooper']
['SP Narine', 'M Morkel']
['DJ Muthuswami']
['TG Southee']
['DJ Bravo']
['PP Chawla']
['R Vinay Kumar']
['R Dhawan', 'MK Tiwary']
['J Suchith']
['JJ Bumrah']
['Harbhajan Singh']
['Mandeep Singh', 'MM Sharma', 'YS Chahal']
['GJ Bailey', 'UT Yadav']
['BE Hendricks']
['HV Patel']
['SN Khan']
['RA Jadeja']
['MG Johnson']
['MJ McClenaghan']
['HV Patel']
['I Sharma']
['SP Narine']
['MM Sharma', 'KH Pandya']
['A Nehra']
['P Kumar']
['GB Hogg']
['S Kaushik']
['VR Aaron']
['DJ Bravo']
['STR Binny']
['R Bhatia']
['GJ Maxwell']
['BB Sran', 'M Morkel']
['Washington Sundar']
['SS Iyer', 'C Munro']
['BB Sran']
['S Mavi']
['JD Unadkat']
['CH Morris']
['JD Unadkat']
['Mohammed Siraj']
['V Shankar']
['RA Jadeja']
['Basil Thampi']
['RA Jadeja']
['MJ McClenaghan']
['J Archer']
['KV Sharma']
['R Ashwin']
['PP Chawla']
['JP Duminy']
['V Shankar']
['J Archer']
['JP Duminy', 'BA Stokes']
['S Gill', 'S Kaul']
['Mustafizur Rahman']
['PP Chawla']
['P Krishna']
['JJ Bumrah']
['M Markande']
['HV Patel']
['JD Unadkat']
['M Ur Rahman']
['I Sharma']
['A Joseph']
['KH Pandya']
['Kuldeep Yadav']
['KA Pollard', 'Mohammed Siraj']
['JD Unadkat']
['YK Pathan']
['KA Pollard', 'I Sharma', 'K Paul']
['KD Karthik']
['DW Steyn', 'SN Thakur']
['SV Samson']
['DJ Bravo']
['Imran Tahir']
['S Kaul']
['UT Yadav']
['UT Yadav']
['Rashid Khan']
['SP Narine']
['TA Boult', 'B Kumar']
['JJ Bumrah']

In [ ]:
a = ws.groupby(['match_id','batsman']).count()
b = ws.groupby(['match_id','non_striker']).count()

## Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [260]:
six = cf.query('total_runs == 6')

In [263]:
six.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
PP Chawla    171
Name: bowler, dtype: int64

In [266]:
four = cf.query('total_runs == 4')
four.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
UT Yadav    389
Name: bowler, dtype: int64

In [268]:
three = cf.query('total_runs == 3')
three.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
P Kumar    18
Name: bowler, dtype: int64

In [272]:
three = cf.query('total_runs == 3')
three.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
P Kumar    18
Name: bowler, dtype: int64

In [273]:
two = cf.query('total_runs == 2')
two.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
DJ Bravo    258
Name: bowler, dtype: int64

In [274]:
one = cf.query('total_runs == 1')
one.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
Harbhajan Singh    1549
Name: bowler, dtype: int64

## Which batsman got stumped out maximum number of times?

In [280]:
stumped = cf.query('dismissal_kind == "stumped"')
stumped.groupby('batsman')['batsman'].count().sort_values(ascending = False)[:1]

batsman
SK Raina    8
Name: batsman, dtype: int64

##  Which non-striker has been part of maximum number of runouts?

In [282]:
runouts = cf.query('dismissal_kind == "run out"')
runouts.groupby('non_striker')['non_striker'].count().sort_values(ascending = False)[:2]

non_striker
SK Raina      16
KD Karthik    16
Name: non_striker, dtype: int64

## Which batsman hit maximum number of six?

In [283]:
hitsix = cf.query('total_runs == 6')
hitsix.groupby('batsman')['batsman'].count().sort_values(ascending = False)[:2]

batsman
CH Gayle          322
AB de Villiers    211
Name: batsman, dtype: int64

## Which batsman played maximum no. of balls?

In [284]:
cf.groupby('batsman')['batsman'].count().sort_values(ascending = False)[:2]

batsman
V Kohli     4211
SK Raina    4044
Name: batsman, dtype: int64

## Which venue  hosted maximum no . of matches?

In [286]:
df.groupby('venue')['venue'].count().sort_values(ascending = False)[:2]

venue
Eden Gardens        77
Wankhede Stadium    73
Name: venue, dtype: int64